html {
  font-size: 10px;
}

body {
  background-color: #fff;
  font-family: 'Ubuntu', sans-serif;
  padding-bottom: 54rem;
}

.container {
  margin: 0 auto;
  max-width: 940px;
}

.form__field {
  margin-bottom: 1rem;
}

.logo {
  fill: #ffffff;
  width: 130px;
}

.input {
  text-align: center;
  background-color: #eeeeee;
  line-height: normal;
  height: 5.2rem;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.4rem;
  width: 100%;
  outline: none;
  text-decoration: none;
  border: none;
}

.input__textarea {
  height: 10rem;
  resize: none;
  width: 100%;
}

.input:placeholder {
  color: #393939;
}

.button {
  font-size: 1.4rem;
  line-height: 5.2rem;
  height: 5.2rem;
  display: block;
  background-color: #00aaef;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  width: 100%;
}

.button_inline {
  display: inline-block;
  padding: 0 60px;
  width: auto;
}

.flexwrap {
  display: flex;
  justify-content: space-between;
}

.section {
  padding: 13rem 0;
  position: relative;
}

.section:nth-child(odd) {
  background-color: #eeeeee;
}

.section__left {
  width: 33%;
}

.section__right {
  width: 50%;
}

.wrapper {
  background: #ffffff;
  position: relative;
  z-index: 200;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

.welcome .container {
  height: 100vh;
  position: relative;
}

.header {
  position: absolute;
  margin-top: 100px;
  left: 0;
  right: 0;
  text-align: center;
}

.header__logo {
  position: absolute;
  top: -4rem;
  left: 50%;
  transform: translate(-50%, 0);
  width: 130px;
}

.header__phone {
  float: left;
  font-size: 1.4rem;
  text-decoration: none;
  color: #ffffff;
  opacity: 0.6;
  text-transform: uppercase;
}

.header__call {
  float: right;
  font-size: 1.4rem;
  text-decoration: none;
  color: #ffffff;
  opacity: 0.6;
  text-transform: uppercase;
  border-bottom: 1px dashed #ffffff;
}

.slider {
  position: absolute !important;
  z-index: -1;
}

.slide_item {
  height: 100vh;
  min-width: 100% !important;
}

.navigation {
  position: absolute;
  bottom: 6rem;
  left: 0;
  right: 0;
}

.navigation ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}

.navigation__item a {
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  font-weight: 400;
  font-size: 1.6rem;
}

.about .container {
  display: flex;
  justify-content: space-between;
}

.about__moto {
  width: 33%;
}

.about__text {
  width: 66%;
}

.footer {
  height: 54rem;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer__copy {
  position: absolute;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  font-size: 1.6rem;
  bottom: 66px;
  left: 0;
  right: 0;
}

.footer__logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
