.about
    & .container
        display: flex
        justify-content: space-between
        flex-wrap: wrap
    &__moto
        width: 33%
        font-size: 4.8rem
        font-weight: 300
        text-transform: uppercase
        line-height: 1em
        strong
            font-weight: 500
        span
            color: #00aaef
    &__text
        width: 66%
        & strong
            font-weight: 500
        & ol
            list-style-type: decimal
            margin: 5rem 0
            padding-left: 0

@media all and (max-width: 960px)
    .about
        background-color: #fff
        &__moto
            width: 100%
            padding-bottom: 3rem
            br
                display: none
        &__text
            width: 100%
            ol
                margin-left: 2em