html
    font-size: 10px;
body
    background-color: #fff;
    font-family: 'Ubuntu', sans-serif;
    padding-bottom: 54rem
.container
    margin: 0 auto
    max-width: 940px
.form
    &__field
        margin-bottom: 1rem

.logo
    fill: #ffffff
    width: 130px

.input
    text-align: center
    background-color: #eeeeee
    line-height: normal
    height: 5.2rem
    font-weight: 500
    text-transform: uppercase
    font-size: 1.4rem
    width: 100%
    outline: none
    text-decoration: none
    border: none
    &__textarea
        height: 10rem
        resize: none;
        width: 100%
    &:placeholder
        color: #393939


.button
    font-size: 1.4rem;
    line-height: 5.2rem;
    height: 5.2rem;
    display: block;
    background-color: #00aaef;
    text-transform: uppercase
    text-decoration: none
    color: #ffffff
    font-weight: 500
    width: 100%
    &_inline
        display: inline-block
        padding: 0 60px
        width: auto

.flexwrap
        display: flex
        justify-content: space-between

.section
    padding: 13rem 0
    position: relative
    &:nth-child(odd)
        background-color: #eeeeee
    &__left
        width: 50%
    &__right
        width: 33%
    &__title
        & svg
            position: absolute
            bottom: -15px
            height: 15px
            fill: #00aaef
            left: 50%
            transform: translate(-50%,0)
        & h2
            font-size: 4.8rem
            font-weight: 300
            color: #000000
            padding-bottom: 20px
            text-transform: uppercase
            position: absolute
            left: 50%
            top: -0.5em
            transform: translate(-50%,0)
            padding: 0
            &:after, &:before
                margin-top: 5px
                content: ""
                width: calc(50% - 2rem)
                position: absolute
                height: 0.2rem
                background-color: #00aaef
                bottom: 0
            &:before
                left: 0
            &:after
                right: 0
