html
    font-size: 10px;
body
    background-color: #fff;
    font-family: 'Ubuntu', sans-serif;
    padding-bottom: 54rem
.container
    margin: 0 auto
    max-width: 940px
.form
    &__field
        margin-bottom: 1rem

.logo
    fill: #ffffff
    width: 130px

.input
    text-align: center
    background-color: #eeeeee
    line-height: normal
    height: 5.2rem
    font-weight: 500
    text-transform: uppercase
    font-size: 1.4rem
    width: 100%
    outline: none
    text-decoration: none
    border: none
    &__textarea
        height: 10rem
        resize: none;
        width: 100%
    &:placeholder
        color: #393939


.button
    font-size: 1.4rem;
    line-height: 5.2rem;
    height: 5.2rem;
    display: block;
    background-color: #00aaef;
    text-transform: uppercase
    text-decoration: none
    color: #ffffff
    font-weight: 500
    width: 100%
    &_inline
        display: inline-block
        padding: 0 60px
        width: auto

.flexwrap
        display: flex
        justify-content: space-between

.section
    padding: 13rem 0
    position: relative
    &:nth-child(odd)
        background-color: #eeeeee
    &__left
        width: 33%
    &__right
        width: 50%
