html
    font-size: 10px;
body
    background-color: #fff;
    font-family: 'Ubuntu', sans-serif;
    padding-bottom: 54rem
.container
    margin: 0 auto
    width: 90%
.form
    &__field
        margin-bottom: 1rem

.logo
    fill: #ffffff
    width: 130px

.input
    text-align: center
    background-color: #eeeeee
    line-height: normal
    height: 5.2rem
    font-weight: 500
    text-transform: uppercase
    font-size: 1.4rem
    width: 100%
    outline: none
    text-decoration: none
    border: none
    &__textarea
        height: 10rem
        resize: none;
        width: 100%
        padding: 1em
        box-sizing: border-box
    &:placeholder
        color: #393939


.button
    font-size: 1.4rem;
    line-height: 5.2rem;
    height: 5.2rem;
    display: block;
    background-color: #00aaef;
    text-transform: uppercase
    text-decoration: none
    color: #ffffff
    font-weight: 500
    width: 100%
    &_inline
        display: inline-block
        padding: 0 60px
        width: auto

.flexwrap
        display: flex
        justify-content: space-between
        flex-wrap: wrap

.section
    padding: 13rem 0
    position: relative
    &:nth-child(odd)
        background-color: #eeeeee
    &__left
        width: 50%
    &__right
        width: 33%
    &__title
        & svg
            position: absolute
            bottom: -15px
            height: 15px
            fill: #00aaef
            left: 50%
            transform: translate(-50%,0)
        & h2
            font-size: 4.8rem
            font-weight: 300
            color: #000000
            text-transform: uppercase
            position: absolute
            left: 50%
            top: -0.5em
            transform: translate(-50%,0)
            padding: 0
            padding-bottom: 5px
            &:after, &:before
                content: ""
                width: calc(50% - 2rem)
                position: absolute
                height: 0.2rem
                background-color: #00aaef
                bottom: 0
            &:before
                left: 0
            &:after
                right: 0

.textual
    font-size: 1.6rem
    line-height: 1.5
    color: #000000
    h3
        font-size: 3.2rem
        line-height: 1.1
        font-weight: 400
        margin-bottom: 1em
    p
        margin-bottom: 1em
    ol, ul
        margin-bottom: 1em   
    &_big
        font-size: 2.4rem
        a
            text-decoration: none
            color: #000000
            display: block
            &:nth-child(2)
                margin-top: 1em
            &:nth-child(3)
                margin-bottom: 1em
        address
            font-style: normal

@media all and (max-width: 960px)
    .section
        padding: 7rem 0
        &__left
            margin-top: 3rem
            width: 100%
            text-align: center
            margin-bottom: 3rem
        &__right
            width: 100%


@media all and (max-width: 600px)
    .section
        &__title
            position: relative
            top: -7em 
            left: 0
            transform: none
            text-align: center
            h2
                font-size: 4rem
                width: 100%
                padding-bottom: 8px

                    


                   