
.wrapper
    background: #ffffff
    position: relative
    z-index: 200
    box-shadow: 0 0 1rem rgba(0,0,0,.5)
.welcome
    position: relative
    min-height: 100vh
    & .container
        min-height: 100vh
        position: relative
    box-shadow: 0 0 3rem rgba(0,0,0,.5)

//повторяется, можно испраивть
.header
    position: absolute
    margin-top: 100px
    left: 0
    right: 0
    text-align: center
    &__logo
        
        position: absolute
        top: -4rem
        left: 50%
        transform: translate(-50%,0)
        width: 130px

    &__phone
        float: left
        font-size: 1.4rem
        text-decoration: none
        color: #ffffff
        opacity: 0.6
        text-transform: uppercase

    &__call
        float: right
        font-size: 1.4rem
        text-decoration: none
        color: #ffffff
        opacity: 0.6
        text-transform: uppercase
        border-bottom: 1px dashed #ffffff

.slider
    position: absolute !important
    z-index: -1

.slide_item
    height: 100vh
    min-width: 100% !important
    object-fit: cover;
    object-position: 50% 50%;
    overflow: hidden
    
.navigation
    position: absolute
    bottom: 6rem
    left: 0
    right: 0
    & ul
        display: flex
        justify-content: space-between
        list-style-type: none
        padding: 0
        flex-wrap: wrap
    &__item a
        text-transform: uppercase
        text-decoration: none
        color: #ffffff
        font-weight: 400
        font-size: 1.6rem


@media all and (max-width: 720px)
    .header
        &__logo
            left: 0
            position: absolute
            transform: translate(0,0)
        &__phone
            display: none
        &__call
            font-size: 2rem
    .welcome:before
        position: absolute
        top: 0
        left: 0
        height: 100%
        width: 100%
        content: ""
        background-color: rgba(0,0,0,0.5)
    .navigation
        padding-top: 4rem
        top: 50%
        left: 50%
        transform: translate(-50%,-50%)
        ul
            display: block
        &__item
            text-align: center
            margin-bottom: 2rem
        &__item a
            text-align: center
            font-size: 2.5rem
